<template>
    <div id="header">Header</div>
</template>

<script>
export default {
    name: "ronNpmTemplate"
}
</script>

<style>
* {
    margin: 0;
    padding: 0;
}
#header {
    line-height: 60px;
    background: pink;
}
</style>