<meta charset="utf-8">
<title>ron-npm-template demo</title>
<script src="./ron-npm-template.umd.js"></script>

<link rel="stylesheet" href="./ron-npm-template.css">


<script>
console.log(ron-npm-template)
</script>
